{% extends "master.html" %}
{% load markdown_filter %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="post_date">{{ post.date_published|date:"N j, Y" }}</div>

            <a href="{{ post.get_absolute_url }}">
                <h1 class="post_title">
                    {{ post.title }}
                </h1>
            </a>

            <div class="post_body">
                {{ post.get_post_content|markdown_convert|truncatewords:80|safe }}
            </div>

            <a href="{{ post.category.get_absolute_url }}" class="post_category {{ post.category.slug }}">
                <i class="fa fa-folder-open-o" aria-hidden="true"></i> {{ post.category.title }}
            </a>

            <a href="{{ post.get_absolute_url }}" class="read_more {{ post.category.slug }}">
                Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
        </div>
    {% endfor %}
{% endblock content %}